<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Page</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field class="input-full-width">
          <input type="email" matInput (keydown.enter)="login()" [formControl]="emailFormControl" placeholder="Email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>          
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <input type="password" matInput (keydown.enter)="login()" [formControl]="passwordFormControl" placeholder="Password">
          <button matSuffix mat-icon-button aria-label="Show password">
            <mat-icon>visibility_off</mat-icon>
          </button>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>          
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button [disabled]="emailFormControl.invalid || passwordFormControl.invalid" (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>