<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Page</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input type="email" matInput (keydown.enter)="login()" [(ngModel)]="credentials.email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput (keydown.enter)="login()" [(ngModel)]="credentials.password" placeholder="Password">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>