<mat-toolbar class="app-toolbar">
    <span>Статьи v{{currentApplicationVersion}}</span>
    <span class="toolbar-spacer"></span>

    <button mat-icon-button
            matTooltip="Отмена редактирования"
            aria-label="Отмена редактирования"
            (click)="action.emit(toolbarAction.CancelEdit)" *ngIf="multiMode">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button 
            matTooltip="Добавить"
            aria-label="Добавить" 
            (click)="action.emit(toolbarAction.Add)" *ngIf="!multiMode">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button 
            matTooltip="Редактировать"
            aria-label="Редактировать" 
            (click)="action.emit(toolbarAction.EditList)" *ngIf="!multiMode">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button 
            matTooltip="Выбрать все"
            aria-label="Выбрать все" 
            (click)="action.emit(toolbarAction.SelectAll)" *ngIf="multiMode">
        <mat-icon>select_all</mat-icon>
    </button>
    <button mat-icon-button 
            matTooltip="Удалить"
            aria-label="Удалить" 
            (click)="action.emit(toolbarAction.DeleteSelected)" *ngIf="multiMode">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button 
            matTooltip="Прочитано"
            aria-label="Прочитано" 
            (click)="action.emit(toolbarAction.MarkSelectedAsDone)" *ngIf="multiMode">
        <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button 
            matTooltip="Аккаунт"
            aria-label="Аккаунт" 
            mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item
                aria-label="Импортировать" 
                (click)="action.emit(toolbarAction.Import)" *ngIf="!multiMode">
            <mat-icon>import_export</mat-icon>
            <span>Импортировать</span>
        </button>
        <button mat-menu-item
                aria-label="Экспортировать" 
                (click)="action.emit(toolbarAction.Export)" *ngIf="!multiMode">
            <mat-icon>save_alt</mat-icon>
            <span>Экспортировать</span>
        </button>
        <button mat-menu-item
                aria-label="Выполнить резервное копирование" 
                (click)="action.emit(toolbarAction.Backup)" *ngIf="!multiMode">
            <mat-icon>cloud_download</mat-icon>
            <span>Резервное копирование</span>
        </button>
        <button mat-menu-item
                aria-label="Выйти" 
                (click)="action.emit(toolbarAction.Logout)">
            <mat-icon>exit_to_app</mat-icon>
            <span>Выйти</span>
        </button>
    </ng-template>
</mat-menu>


